@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
  --primary: #f1f1f1;
  --secondary: rgba(31, 209, 253, 0.4);
  --tertiary: rgba(31, 209, 253, 0.6);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-oswald: var(--font-oswald);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

/* Firefox (Limited customization) */
* {
  scrollbar-width: none;
  scrollbar-color: var(--secondary) transparent; /* Thumb color and transparent track */
}
